<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" th:href="@{/home.css}">
</head>
<body>

<header>
    <h1>Sistema de Ventas</h1>

    <nav>
        <a th:href="@{/clientes}">Clientes</a>
        <a th:href="@{/detalleVenta}">Detalle Venta</a>
        <a th:href="@{/productos}">Productos</a>
        <a th:href="@{/home/usuarios}">Usuarios</a>
        <a th:href="@{/ventas}">Ventas</a>
        <a th:href="@{/}">Regresar</a>
    </nav>
</header>

</body>
</html>